<div class='header'><h3>Players and Teams</h3><app-show-hide (hiddenEvent)='toggleHidden($event)'></app-show-hide></div>
<div *ngIf='!isHidden' class='body'>
  <div class="button-row">
    <button *ngIf="players.length > 1"
        (click)="setTeamSize(1)">Free For All</button>
    <button
      *ngIf="players.length === 4
      || players.length === 6"
      (click)="setTeamSize(2)">
      Teams of 2
    </button>
    <button *ngIf="players.length === 6"
            (click)="setTeamSize(3)">Teams of 3</button>
    </div>
    <div class="button-row">
      <button [hidden]="players.length >= 6" (click)="addPlayer()">+</button>
      <button [hidden]="players.length <= 1" (click)="removePlayer()">-</button>
    </div>

<div class="players">
<input *ngFor="let player of players" class="player-name" [(ngModel)]="player.name"/>
</div>

<br>
</div>


